@font-face {
    font-family: "montserrat-medium";
    src: url(./montserrat-medium.otf);
}
@font-face {
    font-family: "lora-regular";
    src: url(./lora-regular.ttf);
}
@font-face {
    font-family: "montserrat-light";
    src: url(./montserrat-light.ttf);
}
